{% extends "UserApp/base.html" %} {% load static%}
<link rel="stylesheet" href="{% static 'UserApp/main.css' %}" />
{% block main %}
<div class="container" style="margin-top:3%;">
    <h1>About Us</h1>
    <p>
        A modo presentación, mi nombre es Irina. Desde mediados de 2021 comencé a realizar distintos cursos en Coderhouse con el objetivo de incorporar nuevos conocimientos a mi perfil profesional. A lo largo de las distintas cursadas vimos distintas formas de realizar un e-commerce, desde el punto de vista del diseño hasta el punto de vista técnico. Teniendo en cuenta eso es que en esta ocasión eligí realizar nuevamente un e-commerce, pero esta vez desde un punto de vista y un enfoque nuevo.
    </p>
    <p>    
        Al realizar este proyecto quería lograr un template base que cualquiera pudiera utilizar simplemente con cargar la información de sus productos. Sé que aún me quedan perfeccionar algunos detalles, pero lo hice lo más genérico posible para que se ajuste al estándar de los e-commerce de hoy en día.
    </p>
</div>
{% endblock %}