{% extends "UserApp/base.html" %} {% load static%}
<link rel="stylesheet" href="{% static 'UserApp/main.css' %}" />
{% block main %}
<div class="container" style="margin-top:3%;">
    <h1>About Us</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim sapien, dignissim vitae pharetra vitae, ornare id nibh. Nulla porttitor dictum sapien maximus porta. Etiam scelerisque pulvinar lacus lacinia hendrerit. Cras ut maximus massa, vitae efficitur dui. Maecenas ac ligula est. Donec luctus risus in lectus dapibus efficitur. In ac efficitur massa. Aliquam in elementum enim. Etiam accumsan placerat nisi quis sollicitudin.
    </p>
    <p>    
    Suspendisse congue sed turpis non dictum. Pellentesque luctus quam magna, ut dictum orci convallis et. Integer molestie blandit suscipit. Nunc tellus magna, luctus blandit porta eget, accumsan vitae felis. Proin lacus diam, vestibulum sed ex eget, rutrum pretium mi. Nulla pretium odio quis tempor pulvinar. Nulla non eleifend arcu, vel interdum risus. Donec tempus tincidunt semper.
    </p>
    <p>    
    Curabitur sodales enim sit amet luctus convallis. Donec lobortis lacus vel convallis suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis dignissim enim, ac feugiat nisi ultricies sed. Nunc bibendum arcu bibendum rutrum hendrerit. Proin ac diam sed neque semper faucibus. Proin suscipit tincidunt arcu, a tempor elit auctor vel. Nullam iaculis libero id velit semper fermentum in sed massa. Aliquam id mi ut urna pellentesque pulvinar nec ac lorem. Mauris finibus sem id volutpat bibendum. Aliquam justo erat, malesuada.
    </p>
</div>
{% endblock %}