{% extends "UserApp/base.html" %}
{% load static%}
<link rel="stylesheet" href="{% static 'UserApp/main.css' %}">

{% block main %}
<div class="container">
    <h1>Checkout</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="card" id="form-wrapper">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="padding:7px;">
                <a class="btn btn-outline-dark col-lg-3" href="{% url 'cart' %}"> &#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <div class="quantity">
                    <div style="flex:2">
                        <img class="img-mini" src="{% static 'UserApp/assets/placeholderImg.png' %}" alt="">
                    </div>
                    <div style="flex:2">Product 1</div>
                    <div style="flex:1">$20.00</div>
                    <div style="flex:1">x2</div>
                </div>
                <h5>Items: 2</h5>
                <h5>Total: $40.00</h5>
            </div>
        </div>
    </div>
</div>


{% endblock %}