{% extends "UserApp/base.html" %} {% load static %} {% block main %}

<div class="container text-center">
    <h1>Store</h1>

    <div class="row justify-content-evenly" style="margin-top:3%; margin-bottom:3%;">
        <div class="card col-4" style="width: 18rem; padding:0;">
            <img
            src="{% static 'UserApp/assets/placeholderImg.png' %}"
            class="card-img-top"
            alt="placeholder img"
            />
            <div class="card-body">
                <h5 class="card-title">Demo Product</h5>
                <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display:inline-block;float:right;">$20</h4>
            </div>
        </div>

        <div class="card col-4" style="width: 18rem; padding:0;">
            <img
            src="{% static 'UserApp/assets/placeholderImg.png' %}"
            class="card-img-top"
            alt="placeholder img"
            />
            <div class="card-body">
                <h5 class="card-title">Demo Product</h5>
                <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display:inline-block;float:right;">$20</h4>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem; padding:0;">
            <img
            src="{% static 'UserApp/assets/placeholderImg.png' %}"
            class="card-img-top"
            alt="placeholder img"
            />
            <div class="card-body">
                <h5 class="card-title">Demo Product</h5>
                <a href="#" class="btn btn-outline-secondary">Add to Cart</a>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display:inline-block;float:right;">$20</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}
