#cart-total{
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
}

.quantity{
    display:flex;
    align-items:flex-stretch;
    padding:7px;
}

.change-quantity{
    display: inline-block; 
    padding-right:10px;
}

.img-mini{
    width: 100px;
}
